# Systemetic calculations across all contexts

## Citations for paramaters

### WCF parameters 

Allawi, H. T., & SantaLucia, J. (1997). Thermodynamics and NMR of internal G⊙ T mismatches in DNA. Biochemistry, 36(34), 10581-10594.

### AA, CC, GG, TT mismatches

Peyret, N., Seneviratne, P. A., Allawi, H. T., & SantaLucia, J. (1999). Nearest-Neighbor Thermodynamics and NMR of DNA Sequences with Internal A⊙ A, C⊙ C, G⊙ G, and T⊙ T Mismatches. Biochemistry, 38(12), 3468-3477.

### CT mismatches

Allawi, H. T., & SantaLucia Jr, J. (1998). Thermodynamics of internal C· T mismatches in DNA. Nucleic acids research, 26(11), 2694-2701.

### GA mismatches

Allawi, H. T., & SantaLucia, J. (1998). Nearest Neighbor Thermodynamic Parameters for Internal G⊙ A Mismatches in DNA. Biochemistry, 37(8), 2170-2179.

### AC mismatches

Allawi, H. T., & SantaLucia, J. (1998). Nearest-Neighbor Thermodynamics of Internal A⊙ C Mismatches in DNA: Sequence Dependence and pH Effects. Biochemistry, 37(26), 9435-9444.

### GT mismatches

Allawi, H. T., & SantaLucia, J. (1997). Thermodynamics and NMR of internal G⊙ T mismatches in DNA. Biochemistry, 36(34), 10581-10594.

In [1]:
# Thermodynamic parameters for DNA nearest-neighbor stacking

BASES = "ACGT"
COMP = {"A":"T","T":"A","C":"G","G":"C"}

def rev_equiv(top, bot):
    return (bot[::-1], top[::-1])

def add_with_reverse(tbl, top, bot, dH, dS):
    tbl[(top, bot)] = (float(dH), float(dS))
    r = rev_equiv(top, bot)
    if r not in tbl:
        tbl[r] = (float(dH), float(dS))

# Watson–Crick NN parameters
WC = {}

add_with_reverse(WC,"AA","TT",-7.6,-21.3)
add_with_reverse(WC,"AT","TA",-7.2,-20.4)
add_with_reverse(WC,"TA","AT",-7.2,-21.3)
add_with_reverse(WC,"CA","GT",-8.5,-22.7)
add_with_reverse(WC,"GT","CA",-8.4,-22.4)
add_with_reverse(WC,"CT","GA",-7.8,-21.0)
add_with_reverse(WC,"GA","CT",-8.2,-22.2)
add_with_reverse(WC,"CG","GC",-10.6,-27.2)
add_with_reverse(WC,"GC","CG",-9.8,-24.4)
add_with_reverse(WC,"GG","CC",-8.0,-19.9)

# Mismatch NN parameters (pH 7 where applicable)
MM = {}

# A·A mismatches
add_with_reverse(MM,"AA","TA", 1.2,  1.7)
add_with_reverse(MM,"CA","GA",-0.9, -4.2)
add_with_reverse(MM,"GA","CA",-2.9, -9.8)
add_with_reverse(MM,"TA","AA", 4.7, 12.9)

# C·C mismatches
add_with_reverse(MM,"AC","TC", 0.0, -4.4)
add_with_reverse(MM,"CC","GC",-1.5, -7.2)
add_with_reverse(MM,"GC","CC", 3.6,  8.9)
add_with_reverse(MM,"TC","AC", 6.1, 16.4)

# G·G mismatches
add_with_reverse(MM,"AG","TG",-3.1, -9.5)
add_with_reverse(MM,"CG","GG",-4.9,-15.3)
add_with_reverse(MM,"GG","CG",-6.0,-15.8)
add_with_reverse(MM,"TG","AG", 1.6,  3.6)

# T·T mismatches
add_with_reverse(MM,"AT","TT",-2.7,-10.8)
add_with_reverse(MM,"CT","GT",-5.0,-15.8)
add_with_reverse(MM,"GT","CT",-2.2, -8.4)
add_with_reverse(MM,"TT","AT", 0.2, -1.5)

# C·T mismatches
add_with_reverse(MM,"AC","TT", 0.7,  0.2)
add_with_reverse(MM,"AT","TC",-1.2, -6.2)
add_with_reverse(MM,"CC","GT",-0.8, -4.5)
add_with_reverse(MM,"CT","GC",-1.5, -6.1)
add_with_reverse(MM,"GC","CT", 2.3,  5.4)
add_with_reverse(MM,"GT","CC", 5.2, 13.5)
add_with_reverse(MM,"TC","AT", 1.2,  0.7)
add_with_reverse(MM,"TT","AC", 1.0,  0.7)

# G·A mismatches
add_with_reverse(MM,"AA","TG",-0.6, -2.3)
add_with_reverse(MM,"AG","TA",-0.7, -2.3)
add_with_reverse(MM,"CA","GG",-0.7, -2.3)
add_with_reverse(MM,"CG","GA",-4.0,-13.2)
add_with_reverse(MM,"GA","CG",-0.6, -1.0)
add_with_reverse(MM,"GG","CA", 0.5,  3.2)
add_with_reverse(MM,"TA","AG", 0.7,  0.7)
add_with_reverse(MM,"TG","AA", 3.0,  7.4)

# A·C mismatches (pH 7)
add_with_reverse(MM,"AA","TC", 2.3,  4.6)
add_with_reverse(MM,"AC","TA", 5.3, 14.6)
add_with_reverse(MM,"CA","GC", 1.9,  3.7)
add_with_reverse(MM,"CC","GA", 0.6, -0.6)
add_with_reverse(MM,"GA","CC", 5.2, 14.2)
add_with_reverse(MM,"GC","CA",-0.7, -3.8)
add_with_reverse(MM,"TA","AC", 3.4,  8.0)
add_with_reverse(MM,"TC","AA", 7.6, 20.2)

# G·T mismatches
add_with_reverse(MM,"AG","TT", 1.0,  0.9)
add_with_reverse(MM,"AT","TG",-2.5, -8.3)
add_with_reverse(MM,"CG","GT",-4.1,-11.7)
add_with_reverse(MM,"CT","GG",-2.8, -8.0)
add_with_reverse(MM,"GG","CT", 3.3, 10.4)
add_with_reverse(MM,"GG","TT", 5.8, 16.3)
add_with_reverse(MM,"GT","CG",-4.4,-12.3)
add_with_reverse(MM,"GT","TG", 4.1,  9.5)
add_with_reverse(MM,"TG","AT",-0.1, -1.7)
add_with_reverse(MM,"TG","GT",-1.4, -6.2)
add_with_reverse(MM,"TT","AG",-1.3, -5.3)

In [3]:
import pandas as pd
from itertools import product

def is_wc_pair(x, y):
    return COMP[x] == y

def dG_from_HS(dH, dS, T):
    return dH - T*(dS/1000.0)

def lookup(tbl, top, bot):
    if (top, bot) in tbl:
        return tbl[(top, bot)]
    return tbl.get(rev_equiv(top, bot), None)

def step_HS(top2, bot2):
    if is_wc_pair(top2[0], bot2[0]) and is_wc_pair(top2[1], bot2[1]):
        return lookup(WC, top2, bot2), "WC"
    return lookup(MM, top2, bot2), "MM"

def duplex3_local_HS(X, a, Y, b):
    Ltop, Lbot = X+a, COMP[X]+b
    Rtop, Rbot = a+Y, b+COMP[Y]
    hs1, t1 = step_HS(Ltop, Lbot)
    hs2, t2 = step_HS(Rtop, Rbot)
    if hs1 is None or hs2 is None:
        return None, {"missing": [(Ltop, Lbot, t1) if hs1 is None else None,
                                  (Rtop, Rbot, t2) if hs2 is None else None]}
    return (hs1[0]+hs2[0], hs1[1]+hs2[1]), None

def make_trimer_strings(X, a, Y, b):
    top3 = X+a+Y
    bot3_3to5 = COMP[Y]+b+COMP[X]
    bot3_5to3 = bot3_3to5[::-1]
    return top3, bot3_3to5, bot3_5to3

def build_trimer_df(T=310.15, include_wc_center=True):
    rows, missing = [], []
    for X, Y, a, b in product(BASES, BASES, BASES, BASES):
        if (not include_wc_center) and is_wc_pair(a, b):
            continue
        hs, meta = duplex3_local_HS(X, a, Y, b)
        if hs is None:
            missing.append((X, a, Y, b, meta))
            continue
        dH, dS = hs
        g = dG_from_HS(dH, dS, T)
        top3, bot3_3to5, bot3_5to3 = make_trimer_strings(X, a, Y, b)
        rows.append({
            "X": X, "a": a, "Y": Y, "b": b,
            "flank": X+Y,
            "mismatch": a+b,
            "is_wc_center": bool(is_wc_pair(a, b)),
            "top3_5to3": top3,
            "bot3_3to5": bot3_3to5,
            "bot3_5to3_display": bot3_5to3,
            "dH_kcal": dH,
            "dS_cal": dS,
            "dG_kcal": g,
        })
    df = pd.DataFrame(rows).sort_values(["top3_5to3", "bot3_3to5"]).reset_index(drop=True)
    return df, missing

def get_trimer(df, X, a, Y, b):
    m = (df.X==X) & (df.a==a) & (df.Y==Y) & (df.b==b)
    if not m.any():
        raise KeyError(f"Not found: X={X} a={a} Y={Y} b={b}")
    return df.loc[m].iloc[0]

def get_trimer_by_seq(df, top_5to3, bot_3to5, allow_reverse=True):
    m = (df.top3_5to3==top_5to3) & (df.bot3_3to5==bot_3to5)
    if m.any():
        return df.loc[m].iloc[0]
    if allow_reverse:
        rt, rb = rev_equiv(top_5to3, bot_3to5)
        m2 = (df.top3_5to3==rt) & (df.bot3_3to5==rb)
        if m2.any():
            return df.loc[m2].iloc[0]
    raise KeyError(f"Not found: top={top_5to3} bot={bot_3to5}")

def flank_extrema(df, X, Y, include_wc_center=False):
    sub = df[(df.X==X) & (df.Y==Y) & (df.is_wc_center if include_wc_center else ~df.is_wc_center)]
    if sub.empty:
        raise KeyError(f"No entries for flank X={X},Y={Y}")
    imin = sub.dG_kcal.idxmin()
    imax = sub.dG_kcal.idxmax()
    return {
        "flank": X+Y,
        "n": int(len(sub)),
        "min": sub.loc[imin].to_dict(),
        "max": sub.loc[imax].to_dict(),
        "ddG": float(sub.loc[imax,"dG_kcal"] - sub.loc[imin,"dG_kcal"]),
    }

def mismatch_extrema(df, a, b, include_wc_center=False):
    sub = df[(df.a==a) & (df.b==b) & (df.is_wc_center if include_wc_center else ~df.is_wc_center)]
    if sub.empty:
        raise KeyError(f"No entries for mismatch a={a},b={b}")
    imin = sub.dG_kcal.idxmin()
    imax = sub.dG_kcal.idxmax()
    return {
        "mismatch": a+b,
        "n": int(len(sub)),
        "min": sub.loc[imin].to_dict(),
        "max": sub.loc[imax].to_dict(),
        "ddG": float(sub.loc[imax,"dG_kcal"] - sub.loc[imin,"dG_kcal"]),
    }

def summary_by_flank(df, include_wc_center=False):
    sub = df if include_wc_center else df[~df.is_wc_center]
    s = (sub.groupby(["X","Y","flank"])
           .agg(n=("dG_kcal","size"),
                dG_min=("dG_kcal","min"),
                dG_max=("dG_kcal","max"))
           .reset_index())
    s["ddG"] = s["dG_max"] - s["dG_min"]
    return s.sort_values(["flank"]).reset_index(drop=True)

def summary_by_mismatch(df, include_wc_center=False):
    sub = df if include_wc_center else df[~df.is_wc_center]
    s = (sub.groupby(["a","b","mismatch"])
           .agg(n=("dG_kcal","size"),
                dG_min=("dG_kcal","min"),
                dG_max=("dG_kcal","max"))
           .reset_index())
    s["ddG"] = s["dG_max"] - s["dG_min"]
    return s.sort_values(["mismatch"]).reset_index(drop=True)

def step_breakdown(X, a, Y, b):
    Ltop, Lbot = X+a, COMP[X]+b
    Rtop, Rbot = a+Y, b+COMP[Y]
    hs1, t1 = step_HS(Ltop, Lbot)
    hs2, t2 = step_HS(Rtop, Rbot)
    return {
        "left":  {"top2": Ltop, "bot2": Lbot, "type": t1, "HS": hs1},
        "right": {"top2": Rtop, "bot2": Rbot, "type": t2, "HS": hs2},
    }

T = 273.15 + 25.0  # K
df_trimer, missing = build_trimer_df(T=T, include_wc_center=True)
df_mismatch_only = df_trimer[~df_trimer.is_wc_center].reset_index(drop=True)

print(f"T={T:.2f} K | all rows={len(df_trimer)} (expected 256) | missing={len(missing)}")
print(f"Mismatch-only rows={len(df_mismatch_only)} (expected 192)")
print(f"Mismatch-only ΔG range: {df_mismatch_only.dG_kcal.min():+.2f} → {df_mismatch_only.dG_kcal.max():+.2f} kcal/mol")

display(df_mismatch_only.head(12))
display(summary_by_flank(df_trimer, include_wc_center=False))
display(summary_by_mismatch(df_trimer, include_wc_center=False))

T=298.15 K | all rows=256 (expected 256) | missing=0
Mismatch-only rows=192 (expected 192)
Mismatch-only ΔG range: -2.58 → +2.62 kcal/mol

,X,a,Y,b,flank,mismatch,is_wc_center,top3_5to3,bot3_3to5,bot3_5to3_display,dH_kcal,dS_cal,dG_kcal
0,A,A,A,A,AA,AA,False,AAA,TAT,TAT,5.9,14.6,1.547010
1,A,A,A,C,AA,AC,False,AAA,TCT,TCT,9.9,24.8,2.505880
2,A,A,A,G,AA,AG,False,AAA,TGT,TGT,2.4,5.1,0.879435
3,A,A,C,A,AC,AA,False,AAC,GAT,TAG,-1.7,-8.1,0.715015
4,A,A,C,C,AC,AC,False,AAC,GCT,TCG,1.6,0.8,1.361480
5,A,A,C,G,AC,AG,False,AAC,GGT,TGG,-0.1,0.9,-0.368335
6,A,A,G,A,AG,AA,False,AAG,CAT,TAC,0.3,-2.5,1.045375
7,A,A,G,C,AG,AC,False,AAG,CCT,TCC,2.9,4.0,1.707400
8,A,A,G,G,AG,AG,False,AAG,CGT,TGC,-4.6,-15.5,0.021325
9,A,A,T,A,AT,AA,False,AAT,AAT,TAA,2.4,3.4,1.386290
10,A,A,T,C,AT,AC,False,AAT,ACT,TCA,7.6,19.2,1.875520
11,A,A,T,G,AT,AG,False,AAT,AGT,TGA,-1.3,-4.6,0.071490

    X  Y flank   n    dG_min    dG_max       ddG
0   A  A    AA  12  0.259085  2.522200  2.263115
1   A  C    AC  12 -1.556805  2.258325  3.815130
2   A  G    AG  12 -0.637000  1.958540  2.595540
3   A  T    AT  12 -0.535150  2.623720  3.158870
4   C  A    CA  12 -0.331450  2.374215  2.705665
5   C  C    CC  12 -1.627535  1.745160  3.372695
6   C  G    CG  12 -1.026445  1.575735  2.602180
7   C  T    CT  12 -0.637000  1.958540  2.595540
8   G  A    GA  12 -0.762570  2.543640  3.306210
9   G  C    GC  12 -2.578460  1.892930  4.471390
10  G  G    GG  12 -1.627535  1.745160  3.372695
11  G  T    GT  12 -1.556805  2.258325  3.815130
12  T  A    TA  12  0.687050  2.592170  1.905120
13  T  C    TC  12 -0.762570  2.543640  3.306210
14  T  G    TG  12 -0.331450  2.374215  2.705665
15  T  T    TT  12  0.259085  2.522200  2.263115

    a  b mismatch   n    dG_min    dG_max       ddG
0   A  A       AA  16  0.043740  1.707730  1.663990
1   A  C       AC  16  1.229815  2.592170  1.362355
2   A  G       AG  16 -0.755930  1.284985  2.040915
3   C  A       CA  16  1.229815  2.592170  1.362355
4   C  C       CC  16  1.293360  2.623720  1.330360
5   C  T       CT  16  0.860390  2.166270  1.305880
6   G  A       GA  16 -0.755930  1.284985  2.040915
7   G  G       GG  16 -2.578460  1.053320  3.631780
8   G  T       GT  16 -1.344400  1.011860  2.356260
9   T  C       TC  16  0.860390  2.166270  1.305880
10  T  G       TG  16 -1.344400  1.011860  2.356260
11  T  T       TT  16 -0.578460  1.294450  1.872910

#### Difference for C:T goes to T:T at position 0 in multiiso reporter

In [4]:
df = df_mismatch_only
df.loc[(df['flank'] == 'CC') & (df['mismatch'] == 'CT')]

,X,a,Y,b,flank,mismatch,is_wc_center,top3_5to3,bot3_3to5,bot3_5to3_display,dH_kcal,dS_cal,dG_kcal
65,C,C,C,T,CC,CT,False,CCC,GTG,GTG,4.4,9.0,1.71665

In [5]:
df = df_mismatch_only
df.loc[(df['flank'] == 'CC') & (df['mismatch'] == 'TT')]

,X,a,Y,b,flank,mismatch,is_wc_center,top3_5to3,bot3_3to5,bot3_5to3_display,dH_kcal,dS_cal,dG_kcal
89,C,T,C,T,CC,TT,False,CTC,GTG,GTG,-7.2,-24.2,0.01523

In [6]:
ddG_nat_p0 = df.loc[(df['flank'] == 'CC') & (df['mismatch'] == 'TT')]['dG_kcal'].values[0] - df.loc[(df['flank'] == 'CC') & (df['mismatch'] == 'CT')]['dG_kcal'].values[0]
ddG_nat_p0

-1.701420000000001

#### estimating ddG mismatch for isoC substitutions based on kinetic proxy

In [7]:
df = df_mismatch_only
p0_base = df.loc[(df['flank'] == 'CC') & (df['mismatch'] == 'CT')]['dG_kcal'].values[0]
df.loc[(df['flank'] == 'CC') & (df['mismatch'] == 'CT')]

,X,a,Y,b,flank,mismatch,is_wc_center,top3_5to3,bot3_3to5,bot3_5to3_display,dH_kcal,dS_cal,dG_kcal
65,C,C,C,T,CC,CT,False,CCC,GTG,GTG,4.4,9.0,1.71665

In [8]:
df = df_mismatch_only
p1_base = df.loc[(df['flank'] == 'CT') & (df['mismatch'] == 'TT')]['dG_kcal'].values[0]
df.loc[(df['flank'] == 'CT') & (df['mismatch'] == 'TT')]

,X,a,Y,b,flank,mismatch,is_wc_center,top3_5to3,bot3_3to5,bot3_5to3_display,dH_kcal,dS_cal,dG_kcal
95,C,T,T,T,CT,TT,False,CTT,ATG,GTA,-7.7,-26.6,0.23079

- from our kinetic approximation rep C : inc isoC was most similar in kinetics to inv C : rep T. To a first approximatiom expect that the isoC : T will be closely matches in energy with C : T
- Would if this is the vase would raise the energy, and could lead to an underestimate of the effect